
<section id="about" class="section">

<img src="img/dypa.webp" style="margin-left: auto; margin-right: auto; display: block;">

  <h2 class="subtitle">
   Τα Ινστιτούτα Επαγγελματικής Κατάρτισης της ΔΥΠΑ εποπτεύονται από τη Γενική Γραμματεία Δια Βίου Μάθησης του Υπουργείου Παιδείας και Θρησκευμάτων και παρέχουν στους καταρτιζόμενους αρχική επαγγελματική κατάρτιση. Στόχος: Μέσα από την ανάπτυξη των απαραίτητων δεξιοτήτων και προσόντων και με την παροχή επιστημονικών, τεχνικών, επαγγελματικών και πρακτικών γνώσεων τα ΙΕΚ της ΔΥΠΑ επιδιώκουν την ομαλή ένταξη των καταρτιζόμενων στην παραγωγική διαδικασία.
  </h2>
  <img src="img/ypourgeio.png" style="margin-left: auto; margin-right: auto; display: block;">
</section>