<div class="column">
    <div class="box" style="background-color:#3e8ed0;">
	<h1 class="subtitle">Τεχνικός Φαρμάκων, Καλλυντικών και Παρεμφερών Προϊόντων</h1>
<button class="button is-primary js-modal-trigger" data-target="modal5">
  Πληροφορίες
</button>
</div>
  </div>
  
  
  
  <div class="modal" id="modal5">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Πληροφορίες Ειδικότητας</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
	<div class="content">
         <u><p>Επαγγελματικό περίγραμμα ειδικότητας</p></u>
		  O απόφοιτος της ειδικότητας «Τεχνικός Φαρμάκων, Καλλυντικών και Παρεμφερών Προϊόντων» των ΙΕΚ, είναι ο
εξειδικευμένος τεχνικός που έχει πλούσιες θεωρητικές γνώσεις και πλήρη κατάρτιση για πρακτικές εφαρμογές
στην εργαστηριακή και βιομηχανική παραγωγική διαδικασία των προϊόντων του κλάδου. Οι γνώσεις του για τη
σύνθεση και τη δράση των φαρμάκων και καλλυντικών του παρέχουν τα κατάλληλα εφόδια και τον βοηθούν στις
απαιτήσεις του ποιοτικού ελέγχου της γνησιότητας των πρώτων υλών που πραγματοποιεί και των προϊόντων που
παράγει
<p><u>  Τομείς απασχόλησης  </u></p>

Ο απόφοιτος της ειδικότητας «Τεχνικός Φαρμάκων, Καλλυντικών και Παρεμφερών Προϊόντων» των ΙΕΚ μπορεί να
εργαστεί σε: <br>
<br>
<ul>
<li>Σε φαρμακευτικές βιομηχανίες και βιοτεχνίες καλλυντικών</li>
<li> Σε εργαστήρια καλλυντικών ή φαρμακευτικών προϊόντων</li>
<li> Σε χημικά εργαστήρια</li>
<li> Σε φαρμακεία εκτέλεσης συνταγολογίου</li>
<li> Σε Νοσοκομεία, Νοσηλευτικά Ιδρύματα</li>
<li> Στον Εθνικό Οργανισμό Φαρμάκων</li>
<li> Σε εταιρείες εμπορίας καλλυντικών και παραφαρμακευτικών υλικών</li>
<li> Σε Ιδιωτικές Κλινικές</li>
<li> Ως ελεύθερος επαγγελματίας</li>

</ul>

<p><u>  Επαγγελματικά προσόντα  </u></p>
Τα ειδικά επαγγελματικά προσόντα του αποφοίτου της ειδικότητας συνίστανται στα ακόλουθα:
<br>
<br>
<ul>
<li>χειρίζεται εξοπλισμό χημικού εργαστηρίου σύγχρονης τεχνολογίας </li>
<li> ακολουθεί συγκεκριμένες διαδικασίες για την παραγωγή φαρμάκων και καλλυντικών </li>
<li> ακολουθεί συγκεκριμένες διαδικασίες για την αξιολόγηση φαρμάκων και καλλυντικών </li>
<li> αποθηκεύει καταλλήλως φαρμακευτικά και καλλυντικά προϊόντα </li>
<li> τακτοποιεί και ταξινομεί χημικά αντιδραστήρια και παρασκευάσματα </li>
<li> διενεργεί απογραφή αποθήκης </li>
<li> συνδιαλέγεται για λογαριασμό της επιχείρησης (φαρμακείο) </li>
<li> χρησιμοποιεί τις ανθρώπινες σχέσεις και την επικοινωνία </li>
<li> εφαρμόζει πρακτικές marketing φαρμάκων και καλλυντικών </li>


</ul>
<p><u>  Επαγγελματικά καθήκοντα  </u></p>
Τα επαγγελματικά καθήκοντα του διπλωματούχου της ειδικότητας είναι τα ακόλουθα:
<br>
<br>

<ul>
Φροντίζει για την τήρηση της ασφάλειας και υγιεινής του χώρου εργασίας</li>
<li>Συντηρεί τον εξοπλισμό που χρησιμοποιεί στο παρασκευαστικό στάδιο</li>
<li> Εκτελεί πιστά τις οδηγίες – συνταγολόγια για την παρασκευή φαρμακευτικών και καλλυντικών προϊόντων</li>
<li> Παρασκευάζει και έχει την ευθύνη της εκτέλεσης των διαδικασιών και συνθηκών για την παραγωγή ποιοτικά σωστού προϊόντος</li>
<li> Ελέγχει ποιοτικά και ποσοτικά τη σύσταση των πρώτων υλών και των προϊόντων (φυσικοχημικές σταθερές,ταυτοποιήσεις, μετρήσεις κλπ.)</li>
<li> Συσκευάζει, αποθηκεύει, φυλάσσει τις πρώτες ύλες και τα προϊόντα σε κατάλληλες αποθήκες και χώρους</li>
<li> Εξασφαλίζει την εφαρμογή των θεσμοθετημένων κανονισμών και προδιαγραφών για την ακριβή σύσταση του προϊόντος και των δραστηριοτήτων (μεταβολές και αλλοιώσεις)</li>
<li> Καταγράφει τα είδη των συστατικών και τις αναλογίες τους στις συνθέσεις των φαρμάκων και καλλυντικών και δίνει γραπτή αναφορά σχετικά με τα αποτελέσματα των παρατηρήσεων στον υπεύθυνο φαρμακοποιό ή χημικό</li>
<li> Κοστολογεί, επιλέγει και αξιολογεί προσφορές ή προμήθεια αναλωσίμων και μη-αναλωσίμων υλικών.</li>
<li> Προωθεί την πώληση καλλυντικών και προϊόντων ( ΜΗ.ΣΥ.ΦΑ. ή και συμπληρωμάτων διατροφής).</li>

</ul>
</div>
    </section>
    <footer class="modal-card-foot">
      <button onclick="location.href = 'https://www.dypa.gov.gr/storage/katartisi/iek/odighi-spoydwn-2022-2023/43-texnikos-farmakon-kallyntikon-kai-paremferon-proionton.pdf';" class="button is-info is-rounded">Προβολή Οδηγού Σπουδών</button>

      <button class="button">Κλείσιμο</button>
    </footer>
  </div>
</div>
  
  
  