<div class="column">
    <div class="box" style="background-color:#3e8ed0;">
	<h1 class="subtitle">Βοηθός Φυσικοθεραπείας</h1>
<button class="button is-primary js-modal-trigger" data-target="modal1">
  Πληροφορίες
</button>
</div>
  </div>
  
  
  
  <div class="modal" id="modal1">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Πληροφορίες Ειδικότητας</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
	<div class="content">
       <p><u> Επαγγελματικό περίγραμμα ειδικότητας   </u></p>
		  
		  Οι κάτοχοι διπλώματος Ι.Ε.Κ. στην ειδικότητα «Βοηθός Φυσικοθεραπείας» έχουν πιστοποιήσει τις
απαραίτητες επαγγελματικές γνώσεις, δεξιότητες και ικανότητες με τις οποίες είναι πλήρως καταρτισμένοι για
να ανταποκριθούν στα καθήκοντα τους, τα οποία περιλαμβάνουν την προετοιμασία και τη γραμματειακή
υποστήριξη του εργαστηρίου φυσικοθεραπείας, την υποδοχή, την προετοιμασία ασθενών και την υποβοήθηση
του φυσικοθεραπευτή στην εφαρμογή φυσικοθεραπευτικών μεθόδων.

		  
		  <p><u>  Τομείς απασχόλησης</u></p>

Οι απόφοιτοι της ειδικότητας «Βοηθός Φυσικοθεραπείας» μπορούν να εργαστούν ως παραγωγικά στελέχη σε :
<ul>

<li> Εργαστήρια Φυσικοθεραπείας</li>
<li> Ιδρύματα και Κέντρα Αποθεραπείας και Αποκατάστασης ΑΜΕΑ (κινητικές αναπηρίες)</li>
<li> Κ.Α.Π.Η.</li>
<li> Χώροι θεραπευτικών λουτροπηγών</li>
<li>Ειδικά Κέντρα Αποκατάστασης</li>
<li> Νοσοκομεία, Κλινικές, Θεραπευτήρια</li>
<li> Αθλητικά Κέντρα και Χώρους Αθλήσεως</li>
</ul>		
<u>
Στους ανωτέρω τομείς απασχόλησης απαιτείται η νόμιμη άδεια λειτουργίας εργαστηρίου
φυσικοθεραπείας και η παρουσία – επίβλεψη πτυχιούχου φυσικοθεραπευτή.</u>


		  
		  <p><u>   Επαγγελματικά προσόντα </u></p>
		  
		  Τα επαγγελματικά προσόντα συνοψίζονται στα παρακάτω:
<ul>

<li> Ενημέρωση γύρω από τις υπάρχουσες και νεότερες γνώσεις της επιστήμης της φυσικοθεραπείας </li>
<li> Εξοικείωση με τις διαπροσωπικές σχέσεις</li>
<li> Γραμματειακή υποστήριξη και γνώση ηλεκτρονικών υπολογιστών</li>
<li> Πρακτική εφαρμογή των θεωρητικών γνώσεων που απέκτησε κατά τη θεωρητική του/της κατάρτιση.</li>

</ul>
		  
		  
		  <p><u>   Επαγγελματικά καθήκοντα </u></p>
		  
 Α. Για την υποδοχή, την προετοιμασία ασθενών:
 <ul>
<li>Υποδέχεται τον ασθενή και τον τοποθετεί στον χώρο θεραπείας.</li>
<li>Προετοιμάζει (ελέγχει αδρά) τη γενική κατάσταση της υγείας του ασθενούς, για παράδειγμα πίεση,
σφύξεις, πριν την έναρξη της φυσικοθεραπείας.</li>
<li>Τοποθετεί ή / και μεταφέρει τον ασθενή στην κατάλληλη θέση.</li>
<li>Προσφέρει ηθική και ψυχολογική στήριξη σε ασθενείς.</li>
<li>Μεριμνά για τη σωστή, λειτουργική και αναπαυτική θέση του ασθενή στο χώρο θεραπείας.</li>
<li>Μεριμνά για την ασφάλεια του ασθενή κατά την παραμονή του στο χώρο του εργαστηρίου 
φυσικοθεραπείας.</li>
</ul>
Β. Για την υποβοήθηση του φυσικοθεραπευτή στην εφαρμογή φυσικοθεραπευτικών μεθόδων :
<ul>
<li>Ενημερώνει τον φυσικοθεραπευτή για το ιστορικό-κάρτα ασθενούς</li>
<li>Υποβοηθά τον φυσικοθεραπευτή στην εκτέλεση κινήσεων και ασκήσεων</li>
<li>Υποβοηθά τον φυσικοθεραπευτή στα φυσικά μέσα και την ηλεκτροθεραπεία</li>
<li>Υποβοηθά τον φυσικοθεραπευτή στην αντιμετώπιση των μυοσκελετικών κακώσεων</li>
<li>Υποβοηθά τον φυσικοθεραπευτή σε προγράμματα αποκατάστασης αναπνευστικών, ρευματικών και
νευρολογικών παθήσεων.</li>
<li>Υποβοηθά τον φυσικοθεραπευτή σε προγράμματα ομαδικών και ατομικών δραστηριοτήτων ατόμων τρίτης
ηλικίας.</li>
<li>Υποβοηθά τον φυσικοθεραπευτή στην επίτευξη των φυσικοθεραπευτικών του στόχων σε Α.μ.Ε.Α.</li>
<li>Βοηθά στην μετακίνηση και μεταφορά βαρέως πασχόντων (πολυκαταγματιών, ημιπληγικών, παραπληγικών,
τετραπληγικών) και μετεγχειρητικών ασθενών.</li>
</ul>
Γ. Για την προετοιμασία του εργαστηρίου φυσικοθεραπείας:
<ul>
<li>Εξασφαλίζει τους όρους υγιεινής και ασφάλειας του χώρου.</li>
<li>Προετοιμάζει τα υλικά και ελέγχει τη λειτουργία των φυσικοθεραπευτικών μηχανημάτων.</li>
<li>Εξασφαλίζει τους όρους ατομικής προστασίας των προσώπων που κινούνται στο χώρο του εργαστηρίου
φυσικοθεραπείας.</li>
<li>Ελέγχει τη διακίνηση αναλώσιμων υλικών.</li>
<li>Μεριμνά για την καθαριότητα και απολύμανση των χώρων θεραπείας του εργαστηρίου φυσικοθεραπείας.</li>
<li>Ελέγχει την καλή λειτουργία και συντήρηση των μηχανημάτων.</li>
</ul>
Δ. Για την γραμματειακή υποστήριξη εργαστηρίου φυσικοθεραπείας:
<ul>
<li>Υποστηρίζει την λειτουργία της γραμματείας και τηρεί αρχείο ασθενών (παρουσιολόγιο).</li>
<li>Τηρεί τα στατιστικά στοιχεία σχετικά με το είδος και τον αριθμό των επισκέψεων φυσικοθεραπείας .</li>

<li>Διεκπεραιώνει την τηλεφωνική επικοινωνία του εργαστηρίου φυσικοθεραπείας.</li>
<li>Τηρεί την αλληλογραφία του εργαστηρίου φυσικοθεραπείας.</li>
<li>Ταξινομεί τα παραπεμπτικά των ασφαλιστικών ταμείων και φροντίζει για τη διεκπεραίωσή τους.</li>
<li>Χειρίζεται τα προγράμματα του υπολογιστή.</li>
</ul>		  
</div>
    </section>
    <footer class="modal-card-foot">
      <button onclick="location.href = 'https://www.dypa.gov.gr/storage/katartisi/iek/odighi-spoydwn-2022-2023/8-bohthos-fysikotherapias.pdf';" class="button is-info is-rounded">Προβολή Οδηγού Σπουδών</button>

      <button class="button">Κλείσιμο</button>
    </footer>
  </div>
</div>
  
  
  