<div class="column">
    <div class="box" style="background-color:#3e8ed0;">
	<h1 class="subtitle">Τεχνικός Μηχανικός Θερμικών Εγκαταστάσεων και Μηχανικός Τεχνολογίας Πετρελαίου και Φυσικού Αερίου</h1>
<button class="button is-primary js-modal-trigger" data-target="modal4">
  Πληροφορίες
</button>
</div>
  </div>
  
  
  
  <div class="modal" id="modal4">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Πληροφορίες Ειδικότητας</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
	<div class="content">
         <p><u>  Επαγγελματικό περίγραμμα ειδικότητας  </u></p>
		  Ο Τεχνικός μηχανικός θερμικών εγκαταστάσεων & μηχανικός τεχνολογίας πετρελαίου και φυσικού αερίου είναι
ένας ειδικευμένος τεχνικός ικανός να εκτελεί εργασίες που σχετίζονται με την εγκατάσταση και συντήρηση δικτύων
και συσκευών αερίων καυσίμων και τεχνολογίας πετρελαίου, καθώς και με τη διανομή, μεταφορά και ποιοτικό
έλεγχο αυτών. Παραδείγματα πιθανής επαγγελματικής αποκατάστασης είναι σε εταιρείες σχεδιασμού και
εγκατάστασης δικτύων καυσίμων, σε βιομηχανίες που χρησιμοποιούν ή παράγουν αέρια καύσιμα, σε εταιρείες
διανομής φυσικού αερίου, στη ΔΕΠΑ, σε συνεργεία επισκευής συσκευών αερίου, σε επιχειρήσεις πώλησης
συσκευών. Μπορεί επίσης να εργαστεί ως ελεύθερος επαγγελματίας συντηρητής ή εγκαταστάτης οικιακών δικτύων
φυσικού αερίου. Επίσης, έχει πιστοποιήσει τις γνώσεις, δεξιότητες και επαγγελματικές στάσεις που τον καθιστούν
ικανό να εκτελεί αυτόνομα, υπεύθυνα και εμπρόθεσμα τις εργασίες που αφορούν την μελέτη, κατασκευή,
επισκευή και συντήρηση θερμικών εγκαταστάσεων.
<br>
<br>
<p><u>  Τομείς απασχόλησης</u></p>
Ο απόφοιτος της ειδικότητας «Τεχνικός Μηχανικός Θερμικών Εγκαταστάσεων και Μηχανικός Τεχνολογίας
Πετρελαίου και Φυσικού Αερίου» μπορεί να εργαστεί:
<br>
<br>
<ul>

<li>Σε κάθε εταιρεία του κλάδου του στο τμήμα Service και ανταλλακτικών.</li>
<li> Σε κάθε εταιρεία του κλάδου του στο τμήμα πωλήσεων.</li>
<li>Σε κατασκευαστικές εταιρείες εγκατάστασης – συντήρησης.</li>
<li> Ως ελεύθερος επαγγελματίας υπεύθυνος εγκατάστασης – συντήρησης.</li>



</ul>




<p><u>  Επαγγελματικά προσόντα </u></p>

Με βάση γενικές ή ειδικές οδηγίες, από τους ισχύοντες κανονισμούς, τη μεθοδολογία και ιδιαίτερα τις
προδιαγραφές καθώς και τους κανονισμούς ασφαλείας πρόληψης ατυχημάτων και υγιεινής πρέπει να είναι σε
θέση να:

<br>
<br>

<ul> 
<li>Εξασφαλίζει την τήρηση των επιμέρους και συνολικών προδιαγραφών ή τεχνικών οδηγιών, ασφαλείας,
ακριβείας, πιστότητα και γενικά αξιοπιστία (στα πλαίσια των προδιαγραφών) λειτουργίας των
εγκαταστάσεων.</li>
<li> Εκτελεί σύμφωνα με τα σχέδια και τις γενικές ή και ειδικές τεχνικές οδηγίες τις εργασίες που περιγράφονται
αναλυτικά παρακάτω στα τμήματα της εγκατάστασης με επισήμανση των γνώσεων – ικανοτήτων που
απαιτούνται κατά περίπτωση.</li>
<li> Χρησιμοποιεί και εφαρμόζει συστηματικά τα μέσα ατομικής προστασίας και υγιεινής που επιβάλλει η
ισχύουσα νομοθεσία.</li>
<li> Επιλέγει, προμηθεύεται, αποθηκεύει, χρησιμοποιεί και φροντίζει να βρίσκονται σε καλή κατάσταση και
ελέγχει αν ανταποκρίνονται στις ειδικές απαιτήσεις των εκτελούμενων εργασιών στα πλαίσια των στόχων
και των προδιαγραφών ποιότητας, τα απαραίτητα υλικά εργασίας, εργαλεία, όργανα, συσκευές και
αναλώσιμα.</li>
<li> Συντάσσει και ενημερώνει έντυπα και βιβλία που προβλέπονται από τους κανονισμούς για την εγκατάσταση
τη συντήρηση και τη λειτουργία των εγκαταστάσεων.</li>
<li> Υπολογίζει και κοστολογεί τις εργασίες και τα υλικά που αφορούν κατασκευές, συντήρηση ή μετατροπές
εγκαταστάσεων και συντάσσει τα σχετικά τεύχη προσφορών.</li>

</ul>
<br>
<br>
<p><u>   Επαγγελματικά καθήκοντα </u></p>

Τα επαγγελματικά καθήκοντα του αποφοίτου της ειδικότητας συνοψίζονται στα ακόλουθα:

<br>
<br>
<ul>
<li>Εφαρμόζει, χωρίς καμία παρέκκλιση ή σφάλμα, τις οδηγίες που του έχουν δοθεί ή αναγράφονται σχετικά με την ασφάλεια και υγιεινή ατόμων και εγκαταστάσεων και την πυρασφάλεια του χώρου και των θέσεων εργασίας σε παραγωγικά τμήματα, χώρους αποθήκευσης, εργαστηρίων κ.λπ.
<li> Ελέγχει τον ρυθμό και την πορεία της εργασίας και την ποιότητα της κατασκευής και εκτελεί όλες τις απαραίτητες ρυθμίσεις και αλλαγές εξαρτημάτων και υλικών, ώστε να εξασφαλίσει την τήρηση των
προδιαγραφών, που θα ανταποκρίνονται στη ζητούμενη ποιότητα. </li>
<li> Συγκεντρώνει και ερμηνεύει τις αναγκαίες πληροφορίες από πρωτογενείς πηγές σε Ελληνική ή ξενόγλωσση
τεχνική βιβλιογραφία, κανονισμούς και προδιαγραφές τόσο σχετικά με την εγκατάσταση, όργανο ή
σύστημα στο οποίο εργάζεται, όσο και για τα εξαρτήματα – υλικά κατασκευής. </li>
<li> Διαβάζει, ερμηνεύει και αξιοποιεί, χωρίς λάθη, κατασκευαστικά σχέδια ή σκαριφήματα και διαγράμματα
φάσεων λειτουργίας ή και εργασίας και προτείνει διορθώσεις σχεδίων σχετικών με μέρη ή λεπτομέρειες
του έργου. </li>
<li> Ερμηνεύει, αναλύει, συγκρίνει, αξιολογεί, συνθέτει και παρουσιάζει πληροφορίες, με χρήση (εφόσον
χρειαστεί) και υπολογιστικής μηχανής, σχετικά με τις παραμέτρους και μεταβλητές της εργασίας του και την
παρακολούθηση/έλεγχο της διασποράς των σχετικών τιμών. </li>
<li> Καταγράφει τα τεχνικά χαρακτηριστικά, λειτουργικές διαπιστώσεις, παρατηρήσεις, σχετικά με την πορεία
και τα αποτελέσματα της εργασίας και συντάσσει/ προωθεί αιτιολογημένες αναφορές σχετικά με τις
παρατηρήσεις του πάνω στη δυσλειτουργία των συστημάτων προμήθειας, διακίνησης υλικών, εξαρτημάτων
και εργαλείων, που αφορούν την πορεία της κατασκευής στην κάθε συγκεκριμένη περίπτωση και γραπτές
και προφορικές αναφορές και περιλήψεις όποτε του ζητηθεί, ή κρίνει αναγκαίο με σωστή χρήση της
Ελληνικής και Αγγλικής τεχνικής ορολογίας. </li>
<li> Συνεργάζεται με την ιεραρχία ή εξουσιοδοτημένα άτομα και ενσωματώνεται με ομάδες εργασίας, στα
πλαίσια των κανονισμών. Συμμετέχει σε ομάδες εργασίας για ειδικά θέματα, τεχνικά ή επιμόρφωσης,
σύμφωνα με τις ανάγκες της επιχείρησης. </li>
<li> Εφαρμόζει γενικές ή ειδικές οδηγίες και προδιαγραφές εργασίας για τον έλεγχο, την ανακύκλωση κάθε
υλικού που χρησιμοποιεί και την ελαχιστοποίηση της ενεργειακής κατανάλωσης στο χώρο ευθύνης του και
κάνει αιτιολογημένες προτάσεις βελτιστοποίησης τους. </li>
<li> Εφαρμόζει τις συγκεκριμένες καθοριζόμενες από την νομοθεσία ή / και επιχείρηση προδιαγραφές,
κανονισμούς, εντολές εργασίας, χρησιμοποιώντας τα εκεί προβλεπόμενα όργανα και συσκευές, υλικά και
διαδικασίες για την προστασία του περιβάλλοντος εργασίας και κάνει αιτιολογημένες προτάσεις για
πρόσθετα μέτρα προστασίας του περιβάλλοντος. </li>
<li> Ελέγχει την τελική εγκατάσταση χρησιμοποιώντας τα κατάλληλα όργανα μέτρησης. </li>
</ul>

</div>
    </section>
    <footer class="modal-card-foot">
      <button onclick="location.href = 'https://www.dypa.gov.gr/storage/katartisi/iek/odighi-spoydwn-2022-2023/40-mhxanikos-thermikon-egkatastaseon-kai-mhxanikos-texnologias-petrelaiu-kai.pdf';" class="button is-info is-rounded">Προβολή Οδηγού Σπουδών</button>

      <button class="button">Κλείσιμο</button>
    </footer>
  </div>
</div>
  
  
  