<div class="column">
    <div class="box" style="background-color:#3e8ed0;">
	<h1 class="subtitle">Βοηθός Βρεφονηπιοκόμων</h1>
<button class="button is-primary js-modal-trigger" data-target="modal6">
  Πληροφορίες
</button>
</div>
  </div>
  
  
  
  <div class="modal" id="modal6">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Πληροφορίες Ειδικότητας</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
	<div class="content">
        <u><p>Επαγγελματικό περίγραμμα ειδικότητας</p></u>
Ο κάτοχος διπλώματος ΙΕΚ στην ειδικότητα «Βοηθός Βρεφονηπιοκόμων» έχει πιστοποιήσει τις επαγγελματικές
γνώσεις και δεξιότητες που τον καθιστούν ικανό να εργαστεί σε κέντρα προσχολικής αγωγής (βρεφονηπιακούς σταθμούς) καθώς και σε εξαρτημένες ή µη εργασίες σε Βρεφονηπιακούς Σταθµούς ή σε κέντρα ειδικής αγωγής που
φιλοξενούν βρέφη και νήπια ηλικίας 0-6 χρόνων, ιδιωτικούς ή του δηµοσίου φορέα, σε συνεργασία με τον/την
υπεύθυνο/η βρεφονηπιοκόμο ή νηπιαγωγό ή ειδικό παιδαγωγό.
<br>
<br>
<u><p>Τομείς απασχόλησης</p></u>
<ul>
<li>Δημόσιους και ιδιωτικούς παιδικούς σταθμούς </li>
<li> Νηπιαγωγεία </li>
<li> Ιδρύματα που έχουν σχέση με τη φροντίδα και διαπαιδαγώγηση παιδιών μέχρι 6 ετών </li>
<li> Παιδικές στέγες που ελέγχονται από το Υπουργείο Εργασίας, Πρόνοιας και Κοινωνικών Ασφαλίσεων </li>
<li> Βρεφονηπιακούς σταθμούς Δήμων, Κοινοτήτων, Υπουργείων, Οργανισμών, Εταιριών, κ.λ.π. </li>
<li> Κέντρα Δημιουργικής Απασχόλησης Παιδιών </li>
<li> Παιδότοπους </li>
<li> Κατασκηνώσεις </li>
<li> Κέντρα Οικογενειακού Προγραμματισμού  </li>
</ul>

<u><p>Επαγγελματικά προσόντα</p></u>
<ul>
<li>Βοηθά στην ολόπλευρη ανάπτυξη (σωματική, νοητική, ψυχοκινητική, συναισθηματική και κοινωνική) του
	παιδιού της προσχολικής ηλικίας, εφαρμόζοντας κατάλληλες παιδαγωγικές μεθόδους.
<li> Παρέχει φροντίδα στο παιδί από τη βρεφική μέχρι την νηπιακή του ηλικία σε θέματα ατομικής υγιεινής.
<li> Φροντίζει για την αγωγή παιδιών με ιδιαιτερότητες.
<li> Εφαρμόζει μέτρα πρόληψης ατυχημάτων σε οποιοδήποτε χώρο φιλοξενίας του παιδιού.
<li> Παρέχει πρώτες βοήθειες και ενεργεί κατάλληλα σε επείγουσες καταστάσεις.
<li> Απασχολεί δημιουργικά τα βρέφη και τα νήπια και ενθαρρύνει τη συμμετοχή τους στις διάφορες
δραστηριότητες.
 Παρέχει πληροφορίες στους γονείς για θέματα διαβίωσης που αφορούν το παιδί, κατόπιν συνεννόησης με τον
υπεύθυνο/η.
</ul> 

<u><p>Επαγγελματικά καθήκοντα</p></u>
<ul>
<li>Βοηθάει τον/την Βρεφονηπιοκόμο στην απασχόληση των νηπίων και των βρεφών. </li>
<li>Επιβλέπει την σωματική καθαριότητα των νηπίων και των βρεφών </li>
<li>Αναπληρώνει τον/την Βρεφονηπιοκόμο. </li>

</ul>
</div>
    </section>
    <footer class="modal-card-foot">
      <button onclick="location.href = 'https://www.dypa.gov.gr/storage/katartisi/iek/odighi-spoydwn-2022-2023/2-bohthos-brefonhpiokomon.pdf';" class="button is-info is-rounded">Προβολή Οδηγού Σπουδών</button>

      <button class="button">Κλείσιμο</button>
    </footer>
  </div>
</div>
  
  
  