<div class="column">
    <div class="box" style="background-color:#3e8ed0;">
	<h1 class="subtitle">Τεχνικός Εφαρμογών Πληροφορικής (Πολυμέσα / Webdesigner - Developer / Videogames )</h1>
<button class="button is-primary js-modal-trigger" data-target="modal3">
  Πληροφορίες
</button>
</div>
  </div>
  
  
  
  <div class="modal" id="modal3">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Πληροφορίες Ειδικότητας</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
	<div class="content">
         <p><u>   Επαγγελματικό περίγραμμα ειδικότητας </u></p>
		  
		  H αξιοποίηση της τεχνολογίας και πιο συγκεκριμένα αυτής που έχει σχέση με τις διαδραστικές
εφαρμογές και τις τεχνολογίες διαδικτύου προσφέρει πολλές ευκαιρίες αποκατάστασης των
διπλωματούχων, οι οποίοι μπορούν να εργαστούν στο δημόσιο ή στον ιδιωτικό τομέα στα εξής
αντικείμενα:

<br>
<br>
<ul>

<li>Εγκατάσταση, ρύθμιση, έλεγχο, χρήση εφαρμογών λογισμικού Η/Υ & δικτύων. </li>
<li>Συντήρηση υπολογιστικών συστημάτων και δικτύων.</li>
<li> Πώληση προϊόντων συνδεδεμένων με την πληροφορική τεχνολογιών.</li>
<li> Αξιολόγηση σε επίπεδο εφαρμογής - υλοποίησης - συντήρησης εφαρμογών λογισμικού προσανατολισμένου στις ψυχαγωγικές εφαρμογές.</li>


</ul>
		  
<p><u>   Τομείς απασχόλησης </u></p>		  
		  Ο απόφοιτος της ειδικότητας «Τεχνικός Εφαρμογών Πληροφορικής (Πολυμέσα/ Web designer -
Developer/ VideoGames)» μπορεί να εργαστεί σε:
<br>
<br>
<ul>
<li>Επιχειρήσεις κατασκευής ή υποστήριξης προϊόντων Πληροφορικής.</li>
<li> Επιχειρήσεις προώθησης προϊόντων ηλεκτρονικού εμπορίου και υπηρεσιών Πληροφορικής.</li>
<li> Εταιρείες κινητής τηλεφωνίας.</li>
<li> Εταιρείες παραγωγής τηλεπικοινωνιακού υλικού και λογισμικού.</li>
<li> Εταιρείες παροχής υπηρεσιών Διαδικτύου και ψυχαγωγικών εφαρμογών.</li>
<li> Επιχειρήσεις που χρησιμοποιούν το Διαδίκτυο για εμπορικούς σκοπούς.</li>
<li> Μηχανογραφικά κέντρα.</li>
<li> Τμήματα πληροφορικής των Εμπορικών επιχειρήσεων.</li>
<li> Τμήματα πληροφορικής Οργανισμών.</li>
<li> Τμήματα πληροφορικής των δομών του Δημοσίου τομέα.</li>
</ul>  

<p><u> Επαγγελματικά προσόντα   </u></p>

Ο απόφοιτος της εν λόγω ειδικότητας πρέπει να διαθέτει τα προσόντα ώστε:
<ul>


<li> Να χρησιμοποιεί κατάλληλα και να αναγνωρίζει την αρχιτεκτονική του διαδικτύου.</li>
<li> Να χρησιμοποιεί και να αναγνωρίζει τα πρωτόκολλα του διαδικτύου.</li>
<li> Να χρησιμοποιεί τις υπηρεσίες του διαδικτύου με τη χρήση αντίστοιχου λογισμικού.</li>
<li> Να διαμορφώνει κατάλληλα το λογισμικό αξιοποίησης των αντίστοιχων πρωτοκόλλων του
 διαδικτύου.</li>
<li> Να χρησιμοποιεί και να γνωρίζει το ηλεκτρονικό ταχυδρομείο.</li>
<li> Να αναγνωρίζει τις γλώσσες σήμανσης και προγραμματισμού διαδικτυακών εφαρμογών και να
 κατανοεί τη χρήση τους.</li>
<li> Να χρησιμοποιεί τις web εφαρμογές και να αντιλαμβάνεται τον τρόπο λειτουργίας αυτών.
<li> Να δημιουργεί και να διαχειρίζεται blog.</li>
<li> Να αξιολογεί προσφερόμενες υπηρεσίες φιλοξενίας.</li>
<li> Να χρησιμοποιεί υπηρεσίες hosting.</li>
<li> Να χρησιμοποιεί δημοφιλή εργαλεία διάθεσης περιεχομένου (πχ FileZilla).</li>
<li> Να εγκαθιστά και να χρησιμοποιεί τουλάχιστον ένα πακέτο ανοιχτού λογισμικού για την ανάπτυξη
 διαδικτυακών τόπων. (πχ Joomla ή Wordpress).</li>
<li> Να χρησιμοποιεί τις διαδικασίες δημιουργίας ιστοσελίδων με τη χρήση της HTML και με το
 αντίστοιχο περιβάλλον ανάπτυξης ιστοσελίδων.</li>
<li> Να χρησιμοποιεί τις εξειδικευμένες υπηρεσίες και εργαλεία των τεχνολογιών που αφορούν
 Dynamic HTML - JavaScript – CSS.</li>
<li> Να χρησιμοποιεί λογισμικό και υλικό για την ψηφιοποίηση και επεξεργασία βίντεο και ήχου.</li>




</ul>
<p><u>  Επαγγελματικά καθήκοντα  </u></p>
Τα κύρια επαγγελματικά καθήκοντα συνοψίζονται στα ακόλουθα:
<ul>
<li>Σχεδίαση, ανάπτυξη, υποστήριξη λειτουργίας και συντήρηση λογισμικού εφαρμογών (application
software) τεχνολογίας internet και τηλεματικής π.χ. δημιουργία ιστοχώρων (website), ιστοσελίδων,
δημιουργία εφαρμογών πολυμεσικού περιεχομένου, τηλεκπαίδευσης - τηλεϊατρικής, επεξεργασία
στοιχείων βάσεων δεδομένων και παρουσίαση στοιχείων στο internet.</li>
<li> Σχεδίαση και σύνδεση βάσης δεδομένων με το περιβάλλον προγραμματισμού και τις διαδικτυακές
εφαρμογές.</li>
<li> Χρήση Πληροφοριακών Συστημάτων (ΠΣ) και ανεξάρτητων Η/Υ.</li>
<li> Πώληση προϊόντων και υπηρεσιών τεχνολογίας πληροφορικής (hardware, software, ψηφιακά
προϊόντα).</li>
<li> Διαχείριση συστήματος (systemadmin) ή βάσεων δεδομένων (DBA) ή ασφάλειας (SecAdmin)
website.</li>
<li> Διαχείριση ΠΣ παροχής υπηρεσιών internet.</li>
<li> Διαχείριση και υποστήριξη λειτουργίας ΠΣ ηλεκτρονικού εμπορίου, ηλεκτρονικών προμηθειών,
ηλεκτρονικών δημοπρασιών και γενικώς e-υπηρεσιών.</li>
</ul>
</div>
    </section>
    <footer class="modal-card-foot">
      <button onclick="location.href = 'https://www.dypa.gov.gr/storage/katartisi/iek/odighi-spoydwn-2022-2023/36-efarmogon-plhroforikhs-polymesa-web-designer-developer-video-games.pdf';" class="button is-info is-rounded">Προβολή Οδηγού Σπουδών</button>

      <button class="button">Κλείσιμο</button>
    </footer>
  </div>
</div>
  
  
  