<div class="column">
    <div class="box" style="background-color:#3e8ed0;">
	<h1 class="subtitle">Ειδικός Αισθητικής και Τέχνης του Μακιγιάζ</h1>
<button class="button is-primary js-modal-trigger" data-target="modal2">
  Πληροφορίες
</button>
</div>
  </div>
  
  
  
  <div class="modal" id="modal2">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Πληροφορίες Ειδικότητας</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
	<div class="content">
         <p><u>  Επαγγελματικό περίγραμμα ειδικότητας:  </u></p>
		  Ο απόφοιτος της ειδικότητας «Τεχνικός Αισθητικής τέχνης και Μακιγιάζ» των ΙΕΚ παρέχει υπηρεσίες
αισθητικής φροντίδας για το πρόσωπο ή/και το σώμα με φυσικά και τεχνητά μέσα, υπηρεσίες
χαλάρωσης και ευεξίας, υπηρεσίες μακιγιάζ προσώπου και σώματος, υπηρεσίες περιποίησης,
αποκατάστασης και καλλωπισμού νυχιών με φυσικά και τεχνητά μέσα και προωθεί καλλυντικά προϊόντα
και μηχανήματα καθώς και υπηρεσίες αισθητικής . 
		  
		  <p><u>  Τομείς απασχόλησης   </u></p>
		 
		  Ο κάτοχος του διπλώματος της ειδικότητας «Τεχνικός Αισθητικής τέχνης και Μακιγιάζ» έχει τη δυνατότητα
να απασχοληθεί στους εξής τομείς:
<br>
<br>
A) Υπηρεσιών υγείας/ομορφιάς και ευεξίας
<ul> 
<li> Πολυδύναμα κέντρα Αισθητικής και Αδυνατίσματος</li>
<li> Στούντιο και Μακιγιάζ</li>
</ul>
Οι υπηρεσίες αφορούν κυρίως αισθητική, αδυνάτισμα, αποτρίχωση και σχεδιασμό – προτάσεις αισθητικών
περιποιήσεων.
<br>
<br>


Β )Καλλυντικά
<ul>
<li> Βιομηχανίες καλλυντικών</li>
<li> Αντιπροσωπείες καλλυντικών</li>
</ul>
Ο απόφοιτος της ειδικότητας απασχολείται σε αντιπροσωπείες καλλυντικών ,που προωθούν καλλυντικά
προϊόντα σε επαγγελματίες υπηρεσιών, σε αντιπροσωπείες καλλυντικών που προωθούν καλλυντικά
προϊόντα μέσω του λιανεμπορίου και στα φαρμακεία.

<br>
<br>
Γ) Τουριστικό SPA
<ul>
<li>Κέντρα Υδροθεραπείας, που λειτουργούν υπό την αιγίδα του ΕΟΤ</li>
<li>Κέντρα θαλασσοθεραπείας, που λειτουργούν σε οργανωμένες ξενοδοχειακές εγκαταστάσεις</li>
<li>Αστικά κέντρα με διάφορες επωνυμίες (city spa,daily spa κλπ)</li>
</ul>
Δ) Υγεία
<ul>
<li>Ιατρικά κέντρα</li>
<li>Ιδιωτικές κλινικές</li>
<li>Ευαγή ιδρύματα</li>
</ul>
Οι διάφορες υπηρεσίες που παρέχονται εδώ, βασίζονται αποκλειστικά στη χρήση καλλυντικών προϊόντων,
κυρίως για αποτρίχωση, πανάδες και άλλες αισθητικές πράξεις.
Ο απόφοιτος της ειδικότητας μπορεί επίσης να απασχοληθεί σε ινστιτούτα αισθητικής, κέντρα
αδυνατίσματος, φαρμακεία, κομμωτήρια, ξενοδοχεία ,διαφημιστικές εταιρείες, καταστήματα καλλυντικών,
στο θέατρο ,στον κινηματογράφο, στην τηλεόραση, στη φωτογραφία και στους οίκους μόδας


<p><u>  Επαγγελματικά προσόντα  </u></p>
Τα επαγγελματικά προσόντα που αποκτά ο απόφοιτος της ειδικότητας συνίστανται στα ακόλουθα:
<br>
<br>
<p><u>   Παροχή υπηρεσιών αισθητικής φροντίδας για το πρόσωπο ή /και το σώμα με φυσικά και τεχνητά μέσα. </u></p> 
<ul>
<li>Μεριμνά για την εφαρμογή περιποιήσεων αισθητικής προσώπου ή/και σώματος με τη χρήση ειδικών εργαλείων και υλικών.</li>
<li>Εφαρμόζει αγωγές ευεξίας και χαλάρωσης.</li>
<li>Φροντίζει για την εφαρμογή αγωγών προσωρινής αποτρίχωσης προσώπου ή/και σώματος.</li>
<li>Παρέχει συμβουλές στους πελάτες για την επιλογή των υπηρεσιών αισθητικής και καλλυντικών προϊόντων για το πρόσωπο ή/και το σώμα.</li>

 </ul>
 
<p><u>   Παροχή υπηρεσιών μακιγιάζ προσώπου και σώματος.</u></p>

<ul> 
<li>Προσφέρει υπηρεσίες αισθητικού μακιγιάζ.</li>
<li>Μεριμνά για την παροχή υπηρεσιών επαγγελματικού μακιγιάζ.</li>
<li>Φροντίζει για την εξυπηρέτηση πελατών στην επιλογή προϊόντων μακιγιάζ.</li>

</ul>
<p><u>   Παροχή υπηρεσιών περιποίησης, αποκατάστασης και καλλωπισμού νυχιών με φυσικά και τεχνητά μέσα. </u></p>
<ul> 
<li>Μεριμνά για την περιποίηση και θεραπεία νυχιών άνω και κάτω άκρων (μανικιούρ,πεντικιούρ).</li>
<li>Φροντίζει για την τεχνητή αποκατάσταση νυχιών άνω και κάτω άκρων.</li>
<li>Εξυπηρετεί πελάτες στην επιλογή προϊόντων φροντίδας και καλλωπισμού νυχιών.</li>

</ul>






		  
		  <p><u> Επαγγελματικά καθήκοντα </u></p>
		  <p><u>   Τα επαγγελματικά καθήκοντα του αποφοίτου της ειδικότητας συνίστανται στα ακόλουθα: </u></p>
		  <ul>
<li>Υποδέχεται τον πελάτη</li>
- Ιστορικό πελάτη<br>
- Προετοιμασία πελάτη<br>
<li>Εφαρμόζει αισθητικές πράξεις</li>
- Αισθητικές φροντίδες για κάθε τύπο δέρματος με χρήση καλλυντικών προϊόντων<br>
- Απλός καθαρισμός -Αναγνώριση τύπου δέρματος<br>
- Peeling<br>

- Εξαγωγή σμήγματος (Βαθύς καθαρισμός)<br>
- Ηρεμιστική μάλαξη προσώπου – σώματος<br>
- Τοποθέτηση - αφαίρεση μασκών<br>
- Αποτρίχωση με ζεστό – κρύο κερί<br>
- Μακιγιάζ<br>
- Αισθητική κάτω άκρων (μανικιούρ-πεντικιούρ-ονυχοπροσθετική)<br>
- Tatoo με χένα<br>
<li>Αποστειρώνει τα εργαλεία και τις συσκευές που χρησιμοποιεί.</li>
<li>Φροντίζει για τη διαθεσιμότητα των προϊόντων στην καμπίνα παροχής υπηρεσιών</li>
<li>Ελέγχει τη σωστή λειτουργία των μηχανημάτων στο πεδίο της ειδικότητάς του</li>
<li>Παρέχει εξειδικευμένες συμβουλές για την περιποίηση του δέρματος και τον καλλωπισμό των νυχιών</li>
<li>Υποστηρίζει τη διοικητική λειτουργία του εργασιακού του χώρου.</li>
- Δημιουργία και ενημέρωση κάρτας πελάτη<br>
- Διατήρηση αρχείου πελατών<br>
- Διατήρηση αρχείου αισθητικών πράξεων<br>
- Διακίνηση αναλώσιμων υλικών και καλλυντικών και παρακολούθηση αποθήκης<br>
- Έρευνα αγοράς καλλυντικών και αναλωσίμων<br>
- Έρευνα αγοράς συσκευών<br>
- Κοστολόγηση προϊόντων<br>
- Διαφημιστική προβολή εργαστηρίου<br>
<li>Προωθεί προϊόντα και υπηρεσίες αισθητικής ανάλογα με τις ανάγκες του πελάτη</li>
<li>Ακολουθεί και εφαρμόζει τους κανόνες υγιεινής και ασφάλειας στο χώρο εργασίας του</li>
<li>Παρέχει πρώτες βοήθειες, αν χρειαστεί</li>
<li>Ενεργεί με βάση τους κανόνες της επαγγελματικής δεοντολογίας</li>
<li>Επικοινωνεί αποτελεσματικά με τους πελάτες, συνεργάτες και προμηθευτές.</li>
<li>Επιλύει αποτελεσματικά τα προβλήματα που προκύπτουν στο χώρο εργασίας</li>
<li> Λειτουργεί σύμφωνα με τη φιλοσοφία και την πολιτική της επιχείρησης</li>

		 </ul> 
</div>
    </section>
    <footer class="modal-card-foot">
      <button onclick="location.href = 'https://www.dypa.gov.gr/storage/katartisi/iek/odighi-spoydwn-2022-2023/12-texnikos-aisthhtikhs-texnhs-kai-makigiaz.pdf';" class="button is-info is-rounded">Προβολή Οδηγού Σπουδών</button>

      <button class="button">Κλείσιμο</button>
    </footer>
  </div>
</div>
  
  
  