<section class="section is-medium" style="text-align:center;">

<div class="columns" >
  <div class="column" style="float:center;">
    <img src="img/yp_ergasias.jpg">
  </div>
  <div class="column" style="float:center;">
    <img src="img/gov_gr.jpg">
  </div>
  <div class="column">
   <img src="img/europe.jpg" style="float:center;">
  </div>
  <div class="column">
    <img src="img/elpida.jpg" style="float:center;">
  </div>
  <div class="column">
    <img src="img/greek_digital.jpg" style="float:center;">
  </div>
  <div class="column">
    <img src="img/akadimia.jpg" style="float:center;">
  </div>
  
  
 
</div>

</section> 