


<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
	
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="#topheader" class="navbar-item">
        Αρχική
      </a>

      <a href="#about" class="navbar-item">
        Σχετικά με το ΙΕΚ
      </a>
	  <a href="#services" class="navbar-item">
        Ειδικότητες
      </a>
	  <a href="#announcements" class="navbar-item">
        Ανακοινώσεις
      </a>
	  <a href="#contact" class="navbar-item">
        Επικοινωνία
      </a>
     
      </div>
    </div>

  
  </div>
</nav>