<section class="section" style="background-color:#3e8ed0;">
<div class="container has-text-centered" >
  <div class="columns is-desktop" >
  <div class="column">
<span class="icon">
  <i style="color:white;"  class="fa-regular fa-calendar-days fa-5x"></i>
</span>
<hr>
<p style="color:white;" class="title">5 Εξάμηνα Φοίτησης</p>
<br>
<p style="color:white;" class="subtitle">4 Εξάμηνα Θεωρητικής και Εργαστηριακής Κατάρτισης <p style="color:white;" class="subtitle">+ </p><p style="color:white;" class="subtitle">1 εξάμηνο Πρακτικής Άσκησης ή Μαθητείας</p>
</div>
  <div class="column">
  
  <span class="icon">
  <i style="color:white;"  class="fa thin fa-graduation-cap fa-5x"></i>
</span>
<hr>
<p style="color:white;" class="title">Δίπλωμα Επιπέδου 5</p>
<br>
<p style="color:white;" class="subtitle">Μετά από εξετάσεις πιστοποίησης αρχικής επαγγελματικής κατάρτισης</p>
  
  
  </div>
</div>
</div>
</section>


