<!DOCTYPE html>

<html lang="{{ site.lang | default: "en-US" }}">


  {% include head.html %}
  <body>
  <section class="section" style="background-color:#3e8ed0;">

 <p class="title" style="text-align:center; color:#FFFFFF;">
        Όλες οι Ανακοινώσεις του ΙΕΚ ΔΥΠΑ Κομοτηνής
      </p>
	<a href=".." ><p  class="subtitle" style="text-align:center; color:#FFFFFF; float:left;">  Επιστροφή στην Αρχική </p></a>
</section>

<section class="section">
  <div class="content">
<h2 class="title is-2" style="text-align:center">{{ page.title }}</h2>
<hr>
<h5 class="subtitle is-5">{{ content }}</h5>


</div>

</section>


  </body>
</html>
